@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --text-color-primary: #EEE;
  --text-color-secondary: #00ADB5;
  --bg-primary: #222831;
  --bg-secondary: #393E46;
  --bg-accent: #00ADB5;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

button {
  width: 20em;
  background-color: var(--bg-accent);
  padding: 1em;
}

body {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  grid-template-rows: auto 1fr 2em;
  background: var(--bg-primary);
  color: var(--text-color-primary);
  min-height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--bg-secondary);
}

header a {
  /* text-decoration: none;
  padding: .5em;
  margin: .5em;
  border: 2px inset var(--bg-accent); */
}

.logo {
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  display: flex;
  flex-direction:row-reverse;
  place-content:center;
  place-items:center;
  
  font-size:2em;
}
.logo svg {
  height:1em;
  fill:var(--bg-accent)
}


header a:hover {
  filter: brightness(1.5);
}

footer {
  grid-area: footer;
  background: var(--bg-secondary);
  display:flex;
  place-content:center
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--text-color-secondary);
}

.results {
  max-width: 90%;
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 20px 40px;
}

img {
  max-width: 100%;
  border-radius: 1em;
}

.news-article {
  margin-bottom: 30px;
  border: 2px inset var(--bg-accent);
  padding: 15px;
  border-radius: 4px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title {
  margin-bottom: 15px;
}

.description {
  color: var(--dark-grey);
  margin-bottom: 15px;
}

.metadata {
  display: flex;
  color: var(--dark-green);
  font-size: 14px;
}

.published-date::before {
  content: '\0000a0\002022\0000a0';
  margin: 0 3px;
}

.pagination {
  margin-top: 20px;
}

.previous-page {
  margin-right: 20px;
}

form {
  display: flex;
  place-content: center;
  place-items: center;
  padding: 1em;
}


label {
  background-color: var(--bg-secondary);
  padding: .2em;
  border-radius: 1.2rem 0 0 1.2rem;
}

form svg {
  height: calc(3em - .4em);
  fill: var(--bg-accent);
}

input {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  height: 3.3rem;
  color: var(--bg-accent) !important;
  width: 20rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
  color: var(--text-color-primary);
  border: none;
  border-radius: 0 1.2rem 1.2rem 0;
}

textarea:focus,
input:focus {
  outline: none;
}